.about {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px 40px;
}

.about h3 {
  font-size: 35px;
  margin-bottom: 1em;
}

.about p {
  font-size: 30px;
  text-indent: 2em;
  margin-bottom: 1em;
}

h1, p {
  color: white;
}